header
{
    display: flex;
    justify-content: space-between;
}
body
{
  font-family: Raleway;
  margin: 0;
}
#logo img
{
  min-width: 20%;
  min-height: 20%;
  max-width: 30%;
  max-height: 30%;
}
nav ul
{
    list-style-type: none;
    display: flex;
    width: 100%;

    padding: 0;
}
nav li
{
   justify-content: center;
   margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    text-decoration: none;
}
nav a:hover
{
  text-decoration: overline;
  margin: 0;
  padding: 0;
}
.hover
{

}
.nav1, .nav2
{
    color: black;
}
.nav1:hover, .nav2:hover
{
    color: #0065FC;
    margin: 30px;
}
.nav3
{
    color: #0065FC;
    font-weight: bold;
    margin: 30px;
}
#navMenu
{
     display: flex;
     margin-right: 30px;
}
.carte /* jessaye d'aligner la petite carte dans la bordure */
{
  justify-content: center;
}
.input /* input bordure et la hauteur */
{
  border: solid 1px #F2F2F2;
  height: 31px;
}

.maps /* la petite carte a coté du bouton recherche */
{
  background-color: #F2F2F2;
  border: 8px solid #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#filtres
{
  display: flex;
  flex-direction: row;
}
.filtre
{
  height: 30px;
  border: 1px #F2F2F2 solid;
  border-radius: 24px;
  display: flex;
  align-items: stretch;
  padding-right: 20px;
  justify-content: center;
  margin-right: 35px;
}
.filtre span
{
  line-height: 20px;
  font-weight: bold;

}
#recherche
{
  display: flex;
  padding-left: 40px;
}

.image
{
  width: 100%;
  max-height:  90px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
#articles
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   justify-content: space-evenly;

}
.article
{
  width: 25%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: solid white;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 25px;

}

.blue /* couleur de létoile en bleu */
{
  color: #0065FC;
  font-size: 10px
}
.bouton
{
    color: white;
    background-color: #0065FC;
    border-color:#0065FC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30;
}
.conteneur
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  margin-left: 25Px;
}
.populaires
{
  background-color: #F2F2F2;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
}
section
{

  border-radius: 10px;
  align-items: center;

}
#notation
{
  border-radius: 10px;
  background-color: white;
}
.rond
{
  background-color: #DEEBFF;
  border-radius: 50%;
}

aside
{
   display: flex;
   flex-direction: row;
   border-radius: 10px;
   background-color: white;
   margin-bottom: 35px;
   margin-top: 25Px;
}
.image1 /* images sur le coté de L'aside */
{
   max-width: 90px;
   max-height: 90px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
.figure
{
  margin: 0;
}
.chart /* Le titre les plus populaies avec le logo */
{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.gris
{
  color: silver; /* couleur de l'etoile en gris */
  font-size: 10px;
}
.photo1
{
   max-width: 220px;
   max-height: 150px;

}
.photo2
{
 max-width: 260px;
 max-height: 560px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}
.photo3
{
 max-width: 180px;
 max-height: 120px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}
.photo4
{
 max-width: 180px;
 max-height: 120px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}
.photo5
{
 max-width: 180px;
 max-height:120px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}

#activites
{
  display: flex;
  flex-wrap: wrap;
}/* footer css */
footer
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    color: black;
}

#hebergement
{
    background-color: #F2F2F2;
    width: 70%;

}
#propos
{
  list-style-type: none;
  width: 33%;

}
#noshebergements
{
  list-style-type: none;
  width: 33%;
  padding: 0;
}
#assitance
{
  list-style-type: none;
  width: 33%;
  padding: 0;
}
.P4
{
  line-height: 2em;
}
.P5
{
  line-height: 2.5em;
  font-weight: bold;
}
h2
{
  font-weight: bolder;
  font-size: 16px;
}
h3
{
  font-size: 14px;
  margin: 0;
}
p
{
  font-size: 10px;
  margin: 0;
}
